// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";

// Стили попапов
// @import "base/popup";

// Стили спойлеров
// @import "base/spollers";

// Стили табов
// @import "base/tabs";

// Стили карт
// @import "base/maps";

// Стили блока "показать еще"
// @import "base/showmore";

// Стили для липкого блока
// @import "base/sticky";

// Стили для полноэкранного блока
// @import "base/fullscreen";

// Стили для поекраної прокрутки
// Styles for fullpage scroll
// @import "base/fullpage";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивное видео
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Видео в качестве фона
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Серый фильтр
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}
// Отменить выделение
%noselect {
	user-select: none;
}
// Зеркальное отображение
%mirror {
	transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}




.home .header__logo--slash { 
	display: none;
}
.wpapper-gradient{
	border-radius: 0px 0px 12px 12px;
	position: relative;
	background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
	margin-bottom: rem(80);
	.header-bleck &::before
		{
		content: "";
		position: absolute;
		bottom: -10px;
		right: 20px;
		left: 20px;
		height: 50px;
		background: #CACADB;
		border-radius: 0px 0px 12px 12px;
		z-index: -223;
	}
	.header-bleck &::after{
		content: "";
		position: absolute;
		bottom: -20px;
		right: 40px;
		left: 40px;
		height: 50px;
		background: #E7E7F2;
		border-radius: 0px 0px 12px 12px;
		z-index: -224;
	}
}
.basic-title{
	font-weight: 700;
	font-size: rem(30);
	line-height: math.div(36.57 , 30);
	@media (min-width: 479px){
		font-size: rem(38);
		line-height: math.div(46 , 38);        
	}
}
.title-link{
	margin-bottom: rem(10);
    color: $mainColorMenuIconsWhiteTheme;
    transition: color 0.7s;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;

	&::after{
		content: "";
		display: inline-block;
		height: 9px;
		width: 9px;
		border: 3px solid;
		border-color: $mainColorMenuIconsWhiteTheme;
		transform: rotate(45deg);
		border-left: none;
		border-bottom: none;
		margin-left: rem(5.5);
	}
	&:hover{
		color: $mainObjectColor;
    }
	&:hover .title-link::after{
		border-color: $mainObjectColor;
	}
}
.title-gradient{
	background: $gradient-text;
	-webkit-background-clip: text;
	color: transparent; 
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.bg-dark-blue {
    background-color: #1C4280;
}
.bg-dark-yankees {
    background-color: #143646;
}
.bg-cadmium-orange {
    background-color: #F48B30;
}
.bg-deep-lilac {
    background-color: #9E4DC3;
}
.bg-deep-saffron {
    background-color: #FD9339;
}
.bg-platinum {
    background-color: #E2E2E4;
}
.bg-cardinal {
    background-color: #C71C36;
}
.bg-water {
    background-color: #DCF3F9;
}
.bg-bright-gray {
    background-color: #EAEAEA;
}
.bg-yankees-blue {
    background-color: #282240;
}
.bg-indigo {
    background-color: #b0a8cf;
}
.bg-black {
    background-color: #000000;
}