.services-entry {
    padding-bottom: 45px;
    .services-en & {
        padding-top: 162px;
        @media (min-width: 768px){
            padding-top: 285px;
        }
        @media (min-width: 992px){
            padding-top: 176px;
        }
    }

    &__wrapper {
        max-width: 1080px;
        margin: 0 auto;
        font-weight: 400;
        font-size: rem(19);
        line-height: math.div(30 , 19);
        color: $mainColorMenuIconsBleckTheme;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 60px;
        gap: 28px;
        &--image {
            display: block;
            width: 92px;
            height: 92px;
            background: #fff;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }

        &--text{
            display: flex;
            flex-direction: column;
            gap: 33px;
        }

        &--btn {
            padding: 18px 30px;  
        }
    }

    &__content {

        &--title {
            font-weight: 700;
            font-size: rem(22);
            line-height: math.div(27 , 22);
            margin-bottom: rem(30);
        }
        &--lists{
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            padding-left: 15px;
            @media (min-width: 768px){
                flex-wrap: nowrap;
                gap: 45px;
            }
        }
        &--list {
            max-width: 100%;
            @media (min-width: 768px){
                max-width: 47.2%;
            }
            li{
                margin-bottom: rem(15);
                list-style: disc;
                &::marker {
                    color: $mainObjectColor;
                }
            }
        }
    }
}